/* 
font-family: 'Nova Mono', monospace;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    max-width: 900px;
}

#table-headers {
    background-color: greenyellow;
    color: #000000;
}

#site-title {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 2rem;
    margin-left: 0;
}

.grade {
    font-family: 'Nova Mono', monospace;
}

.headers {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
}

.average-grade {
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.avg-grade {

    background-color: #3e444a;
    margin-left: 1rem;
    border-radius: 10px;
    color: greenyellow;
    font-size: 30px;
    text-align: center;
    padding: 0.5rem;
    font-family: 'Nova Mono', monospace;
}

.input-group {
    margin: 1rem 0;
}

.btn-light {
    border: solid 1px grey;
}

.table-row {
    width: 80vw;
}

#buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.input-group-text {
    background-color: greenyellow;
}

.btn-secondary {
    width: 25%;
}

form {
    margin-left: 2rem;
}

.header {
    margin-right: 1.8rem;
}

