/* 
font-family: 'Nova Mono', monospace;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    max-width: 900px;
}

#table-headers {
    background-color: greenyellow;
    color: #000000;
}

#site-title {
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin: 2rem;
}

.grade {
    font-family: 'Nova Mono', monospace;
}

